<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aircraft</title>
    <style>
      .f1 {
        margin: 10px;
      }
      /* add style for a ,make it look like a button*/
      a {
        text-decoration: none;
        color: #000;
        padding: 10px 20px;
        border: 1px solid #000;
        border-radius: 5px;
      }
      a:hover {
        background-color: #000;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <h1>Aircraft</h1>
    <a href="{{ url_for('show_aircraft') }}" class="f1">Show Aircraft</a>
    {% if session['isadmin'] == 1 %}
    <a href="{{ url_for('search_aircraft') }}" class="f1"
      >Search/Update/Delete Aircraft</a
    >
    {% endif %} {% if session['isadmin'] == 0 %}
    <a href="{{ url_for('search_aircraft') }}" class="f1">Search Aircraft</a>
    {% endif %}

    <a href="{{ url_for('display_aircraft') }}" class="f1 display"
      >Display Aircraft</a
    >

    {% if session['isadmin'] == 1 %}
    <a href="{{ url_for('add_aircraft') }}" class="f1">Add Aircraft</a>
    {% endif %}

    <a href="{{ url_for('index') }}" class="f1">Back</a>
  </body>
</html>
